<!-- Component HTML -->

<header class="header">
  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-link"><a href="#">Gmail</a></li>
      <li class="nav-link"><a href="#">Imagens</a></li>
      <li class="menu-btn">botão</li>
      <li class="profile-pic">foto</li>
    </ul>
  </nav>
</header>
<main>
  <div class="search-container">
    <h1 id="logo-google">Google</h1>
    <input
      class="input-field"
      type="text"
      placeholder="Pesquisar no Google..."
    />
    <div class="search-container-btn">
      <button class="btn" type="submit">Pesquisa google</button>
      <button class="btn" type="submit">Estou com sorte</button>
    </div>
  </div>
</main>
<footer>
  <p>Desenvolvido por <strong><a href="https://www.linkedin.com/in/almeidatl" target="_blank">Thálisson Almeida</a></strong> para a disciplina <strong>Frameworks Front-End</strong> - P2 ADS</p>
</footer>
